body {
    padding: 3rem;
}

#panel {
    padding: 3rem;
    display: none;
    background-color: #5e24c3;
    border: 1px solid #c3c3c3;
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

#name {
    text-align: center;
}

#counter {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}